.project-window{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 98%;
    align-items: center;
}

.project-image{
    width: 50%;
}

.project-description{
    white-space: pre-wrap;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .project-window {
      flex-direction: column;
      align-items: center;

    }

    .project-image{
        width: 100%;
    }

    .project-description{
        width: 100%;
    }
  }



