.cover-container{
    position: relative;
    background-color: rgb(255, 171, 93);
    width: 100%;
    height: 100%;
}

.image-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.image-cover:hover{
    opacity: 0;
}

.cover-container:hover{
    outline: 15px solid white;
}