.nav-container{
    background-color: rgb(216, 236, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100vw;
}