

.document-window {
    width: 70vw;
    /* min-width: 10em; */
    height: 45vh;
    border-radius: 0.2em;
    border: solid #666 1px;
    background-color: #ccc;
    padding: 0.25em;
}

.maximised-window{
    left: 0%;
    top: 0%;
    position: fixed;
    width: 99.5vw;
    height: 100vh;
    border-radius: 0.2em;
    border: solid #666 1px;
    background-color: #ccc;
    padding: 0.25em;
}

.window-wrapper{
    /* position:absolute; */
    /* overflow: hidden; */
    opacity: 1;
}

.window-absolute{
    position:absolute;
}

.minimised-window{
    opacity: 0;
    display: none;
}

#visible-overflow{
    overflow: visible;
    z-index: 2;
}

#normal-index{
    z-index: 1;
}

.window-nav{
    width: 100%;
    top:0%;
    height: 23px;
    background: grey;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.window-nav-selected{
    width: 100%;
    top:0%;
    height: 23px;
    background: rgb(25, 27, 132);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.window-nav-text{
    color: white;
    margin-right: auto;
    padding-left: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.8em;
    font-weight: normal;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.window-nav-icon{
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
}

.nav-buttons{
    border-radius: 0%;
    width: 19px;
    margin: 2px 1px 2px 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    font-weight: 500;
} 

.window-contents{
    background: white;
    height: 88%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}

#projects-wrap{
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cv-window{
    width: 100%;
    overflow-y: scroll;
}

.cv-image{
    width: 100%;
}

.window-item{
    padding: 10px;
    width: 100px;
}

.window-item-title{
    margin: auto auto auto 15px;
}

.window-icon{
    width: 100px;
    height: 100px;
}

.project-window-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.project-title{
    margin: auto;
    text-decoration: underline;
}

.about-me-window{
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
}

.about-me-title{
    margin-left: 5%;
    margin-bottom: 5%;
    text-decoration: underline;
    align-self:flex-end;
}

.about-me-text{
    padding: 10px;
    white-space: pre-wrap;
}

.about-me-photo{
    height: 250px;
    border-radius: 50px;
}

.about-me-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-details{
    white-space: pre-wrap;
}