body {
    background-color: #018281;  
    overflow: hidden;
}

.main-container{
    padding: 1%;

}

.desktop-icons{
    display: block;
    margin: 1% auto 0% 1%;
    width: 4%;
    height: 4%;
    min-width: 65px;
}

.windows-container{
    position: absolute;
    /* top: 10%; */
    left: 100px;
}

.icon:hover{
    cursor: pointer;
}

.desktop-icon-text{
    margin-left: 1%;
    color: white;
}