body {
    background-color: #018281;  
    overflow: hidden;
}

.main-container{
    padding: 1%;

}

.desktop-icons{
    display: block;
    margin: 30px;
    width: 80px;
    height: 80px;
}

.windows-container{
    position: absolute;
    top: 10%;
    left: 10%;
}